@import 'ext'

#billboard
  padding: 10px 0 0
  background: linear-gradient(0deg, #f2f2f2, #aaa) #f2f2f2

  #promo-text
    padding-top: 250px
    font-weight: 200
    @media screen and (max-width: $screen-md-min)
      padding: 10px 0 40px
  
  h1.brand
    font-size: 96px
    text-align: center
    font-weight: 300
    @media screen and (max-width: $screen-md-min)
      font-size: 48px

    img
      vertical-align: baseline
    
  h2
    font-size: 28px
    text-align: center
    
  p.concept
    font-size: 24px
    text-align: center

  p.appstore-text
    padding-top: 15px
    margin-bottom: 10px
    text-align: center

  p.appstore-badge
    text-align: center

  
  #feedback-link
    position: absolute
    top: 0px
    right: 0px
    text-align: right
    padding: 5px
    
    // position: fixed
    // top: 50%
    // left: -50px
    // width: 110px
    // height: 21px
    // transform: rotate(-90deg)
    // -webkit-transform: rotate(-90deg)
    
    a.btn
      font-size: 14px
      border-radius: 6px
    @media screen and (max-width: $screen-xs-min)
      position: static
    
#screenshots
  background: #fafafa
  padding-bottom: 30px
  
  .screenshot
    padding-top: 30px
    padding-bottom: 20px
  
  h3
    text-align: center
    font-size: 28px
    margin-bottom: 20px

#support
  background: #f2f2f2
  padding: 50px 0

#comments
  padding: 50px 0

#footer
  padding: 50px 0
  text-align: right
  color: #999
  p
    font-size: 16px
    line-height: 1.6
    @media screen and (max-width: $screen-md-min)
      text-align: center


